#-----------------------------------------------------------------------------
#
#  Configuration for continuous integration service at travis-ci.org
#
#-----------------------------------------------------------------------------

language: generic

os: linux

dist: bionic

#-----------------------------------------------------------------------------

addons_shortcuts:
  addons_packages: &packages
    apt:
      packages:
        - libgd-dev
        - libsparsehash-dev
        - libutfcpp-dev

#-----------------------------------------------------------------------------

jobs:
  include:

    # Linux Clang Builds

    - dist: xenial
      compiler: linux-clang7-dev
      addons: *packages
      env: CC='clang' CXX='clang++' BUILD_TYPE='Dev'

    - compiler: linux-clang7-dev
      addons: *packages
      env: CC='clang' CXX='clang++' BUILD_TYPE='Dev'

    - compiler: linux-clang7-release
      addons: *packages
      env: CC='clang' CXX='clang++' BUILD_TYPE='Release'

    # Linux GCC Builds

    - dist: xenial
      compiler: linux-gcc5-dev
      addons: *packages
      env: CC='gcc-5' CXX='g++-5' BUILD_TYPE='Dev'

    - compiler: linux-gcc7-dev
      addons: *packages
      env: CC='gcc-7' CXX='g++-7' BUILD_TYPE='Dev'

    - compiler: linux-gcc7-release
      addons: *packages
      env: CC='gcc-7' CXX='g++-7' BUILD_TYPE='Release'

#-----------------------------------------------------------------------------

install:
  - git clone --quiet --depth 1 https://github.com/osmcode/libosmium.git ../libosmium
  - git clone --quiet --depth 1 https://github.com/mapbox/protozero.git ../protozero

before_script:
  - mkdir build && cd build
  - cmake -LA .. -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DOSMIUM_INCLUDE_DIR=${TRAVIS_BUILD_DIR}/../libosmium/include -DPROTOZERO_INCLUDE_DIR=${TRAVIS_BUILD_DIR}/../protozero/include

script:
  - make VERBOSE=1

#-----------------------------------------------------------------------------
